@font-face {
  font-family: lobster;
  src: url("../style/fonts/lobster.otf");
}

@font-face {
  font-family: amatic;
  src: url("../style/fonts/Amatic-Regular.ttf");
}

@font-face {
  font-family: amatic-bold;
  src: url("../style/fonts/Amatic-Bold.ttf");
}

body {
  font-family: amatic;
}

h1 {
  font-family: amatic-bold;
  color: pink;
}
